* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#main {
  width: 100%;
  min-height: 100%;
  background-color: #f6f2f2;
  padding-top: 0.1px;
  position: relative;
  padding-bottom: 1vw;
}

/* navbar */
nav {
  height: 12%;
  width: 100%;

  margin-top: 30px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav h1 {
  font-size: 3vw;
  letter-spacing: -3px;
  font-weight: 900;
  width: 15%;
}

nav h3 {
  width: 20%;
  border-right: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.6vw;

  height: 10vh;
}
#navbar h3:nth-last-child(3) {
  width: 26%;
}
#navbar h3:nth-last-child(2) {
  width: 10%;
  border: none;
}
#navbar h3:nth-last-child(1) {
  display: none;
}

/* navbar close */

.center {
  height: 100%;
  width: 100%;
  padding: 2vw;
  position: relative;
}
.content {
  height: 90%;
  width: 100%;
  position: relative;
  border-radius: 5px;
}
.content video {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.overlay {
  height: 35%;
  width: 100%;

  position: absolute;
  bottom: 0;
  padding: 4vw 2vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 3vw;
  color: #fff;
}
.overlay .overlay1 {
  display: flex;
  justify-content: space-between;
}
.overlay1 h1 {
  font-size: 4vw;
  letter-spacing: -2px;
  font-weight: 900;
  line-height: 8vh;
  mix-blend-mode: difference;
}
.overlay1 h4 {
  border: 1px solid #fff;
  font-size: 2vw;
  border-right: 3px solid #fff;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.overlay2 {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding-top: 2vh;
}
.overlay2 h5 {
  font-size: 1.4vw;
  font-weight: 500;
}
/* center-end */

/* scrolling */

.scroll {
  width: 100%;
  height: 40vh;

  padding: 1vw;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container {
  height: 100%;
  width: 90%;
  display: inline-flex;
  justify-content: space-between;
  padding-left: 10px;
  align-items: center;
  animation-name: scroll-animate;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.container img {
  height: 80%;
  width: 15%;
  border-radius: 50%;
  object-fit: cover;

  justify-content: space-between;
  align-items: center;
}
@keyframes scroll-animate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* scrolling-end */

/* choose */
.choose {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  gap: 1.1vw;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  overflow-x: auto;
}
.choose span {
  padding: 0.4vw 0.6vw;
}
.choose span:hover {
  border: 1.5px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.choose span:nth-child(1) {
  border: none;
  font-size: 1.7vw;
  margin-right: 3vw;
  border-bottom: 3px solid #000;
  letter-spacing: 0.2vw;
  font-weight: 600;
  line-height: 15px;
}
.choose span:nth-child(1):hover {
  border-radius: 0%;
  scale: 1.2;
}
/* choose-end */

/* models */

.models {
  height: 130vh;
  width: 100%;

  padding: 2vw 4vw;
  display: flex;
  gap: 4vw;
}
.model1 {
  height: 100%;
  width: 55%;

  background-image: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW9kZWx8ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: vw;
}
.model2 {
  height: 100%;
  width: 45%;
}
.model2 .model2-img {
  height: 70%;
  width: 100%;
}
.model2-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 1vw;
}
.model2-desc {
  height: 30%;
  display: flex;
  gap: 3vw;
  padding: 2vw 1vw;
}
.model2-desc h4 {
  width: 40%;
  font-size: 1.4vw;
  line-height: 4vh;
  letter-spacing: -1px;
}
.model2-desc h6 {
  width: 60%;
  font-weight: 500;
  line-height: 3vh;
  font-size: 1vw;
}
.shot {
  padding-left: 4vw;
  font-weight: 900;
  font-style: italic;
  font-size: 3vw;
}
/* models-end */
.creative {
  width: 100%;
  height: 100vh;

  padding: 2vw 4vw;
}
.creative img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 5px 7px #0003;
}

/* model-profile */

.model-profile h1 {
  text-align: center;
  font-weight: 900;
  font-size: 5vw;
  color: #282828;
  text-shadow: 2px 10px 8px rgb(71, 71, 71);
}

/* model-profile-end*/

/* updates */

.updates {
  width: 100%;
  height: 80vh;

  padding: 2vw;
  position: relative;
}
.updates-name:nth-last-child(1) {
  border-bottom: 2px solid #000;
}
.updates-name {
  width: 100%;
  height: 24%;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid#000;
}

.updates-name h5 {
  font-size: 1.6vw;
  font-weight: 500;
  text-transform: uppercase;
  width: 110px;
  letter-spacing: -1.5px;
  line-height: 21px;
  padding-left: 20px;
}
.inner-updates h2 {
  font-size: 2.4vw;

  width: 35vw;
  line-height: 30px;
}
.inner-updates P {
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 500;
}
.updates-name img {
  position: absolute;

  left: 30%;
  height: 240%;
  width: 15%;
  border-radius: 10px;
  rotate: -3deg;
  scale: 0;
  z-index: 100;
  object-fit: cover;
}
.updates-name:hover img {
  scale: 1;
}
.updates-name:hover {
  background-color: #ebdbdb;
}

/* updates-end */

/* movie-shot */
.movie-shot {
  height: 90vh;
  width: 100%;

  padding: 1vw 2vw;
  display: flex;
  gap: 4vw;
}
.movie-shot-left {
  height: 100%;
  width: 40%;
  background-image: url("https://images.unsplash.com/photo-1621343342502-8fe56b792931?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fGphY2tldCUyMG1lbnxlbnwwfHwwfHx8MA%3D%3D");
  background-position: top;
  background-position: center;
  background-size: cover;
}
.movie-shot-right {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.4vw;
}
.movie-shot-right h1 {
  font-weight: 900;
  font-size: 3.8vw;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.movie-shot-right h4 {
  font-weight: 700;
  font-size: 2vw;
  line-height: 1.5vw;
  font-size: 1.5vw;
  width: 24vw;
}
.movie-shot-right h6 {
  font-weight: 500;

  font-size: 1vw;
  width: 90%;
}
.inner-movie-shot {
  display: flex;
  gap: 1vw;
}
.inner-movie-shot .inner-movie-shot-left {
  width: 55%;
  height: 43.7vh;
  background-image: url("https://images.unsplash.com/photo-1723239406233-88c68024a4d5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw5fHx8ZW58MHx8fHx8");
  background-position: center;
  background-size: cover;
}
.inner-movie-shot .inner-movie-shot-right {
  width: 40%;
  height: 43.7vh;
  background-image: url("https://plus.unsplash.com/premium_photo-1673757121102-0ca51260861f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bW9kZWx8ZW58MHx8MHx8fDA%3D");
  background-position: center;
  background-size: cover;
}

/* end-movie-shot */

/* models-premier */

.model-premier {
  height: 15vh;
  width: 100%;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 2vw;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}
.inner-model-premier {
  animation-name: premier-scroll;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.inner-model-premier h1 {
  display: inline-block;
  font-size: 4vw;
  text-transform: uppercase;
  padding-left: 3vw;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px black;
}

@keyframes premier-scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* end-models-premier */

/* blog */
.blog {
  display: flex;
  height: 80vh;
  width: 100%;
  padding: 2vw 4vw;
  justify-content: space-between;
}
.blog-title h1 {
  /* width: 20%; */
  font-size: 4vw;
  font-weight: 800;
  text-transform: uppercase;
}
.blog-desc {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.blog-desc h5 {
  width: 90%;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.4vw;
}
.blog-desc img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}
/* end-blog */

footer {
  height: 40vh;
  width: 100%;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

/* make responsive */

@media (max-width: 600px) {
  nav {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav h1 {
    font-size: 6vw;
    letter-spacing: -2px;
    font-weight: 900;
    width: 15%;
    padding-left: 2vw;
  }

  nav h3 {
    display: none;
  }
  #navbar h3:nth-last-child(1) {
    display: inline;
    display: flex;
    align-items: center;
    justify-content: center;

    border-right: none;
    font-size: 4.5vw;
    font-weight: 800;
  }

  .content video {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .overlay .overlay1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .overlay1 h1 {
    font-size: 7.4vw;
    letter-spacing: -1px;
    font-weight: 900;
    line-height: 8vw;
  }
  .overlay1 h4 {
    font-size: 4vw;

    height: 50px;
    width: 50px;

    border-radius: 50%;
  }

  .overlay2 h5 {
    font-size: 4vw;
    font-weight: 700;
  }

  .scroll {
    width: 100%;
    height: 40vh;
  
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .container {
    height: 70%;
    width: fit-content;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 10px;
    gap: 1VW;
    align-items: center;
    animation-name: scroll-animate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .container img {
    height: 40%;
    width: 18%;
    border-radius: 50%;
    object-fit: cover;
  
    justify-content: space-between;
    align-items: center;
  }

 
}

@media (min-width: 600px) and (max-width: 1000px) {
  nav h1 {
    font-size: 4vw;
    letter-spacing: -3px;
    font-weight: 900;
    width: 15%;
  }

  nav h3 {
    font-weight: 500;
    font-size: 2vw;

    height: 10vh;
  }
}
